

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: #34495e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 400px;
}

.App h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ecf0f1;
}

.add-item-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-item-form input,
.add-item-form select {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  flex: 1;
}

.add-item-form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #2980b9;
  color: white;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-item-form button:hover {
  background-color: #3498db;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.todo-item span {
  flex: 1;
  text-align: left;
  padding-left: 10px;
  color: #ecf0f1;
}

.todo-item .category {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
}

.todo-item .category.learning {
  background-color: #3498db;
}

.todo-item .category.shopping {
  background-color: #e67e22;
}

.todo-item .category.medical {
  background-color: #e74c3c;
}

.todo-item .category.work {
  background-color: #2ecc71;
}

.todo-item button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.todo-item button.edit {
  background-color: #f39c12;
}

.todo-item button:hover {
  background-color: #c0392b;
}

.todo-item button.edit:hover {
  background-color: #d35400;
}

.delete-list {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  outline: none;
}

.delete-list:hover {
  background-color: #c0392b;
}

.fas {
  font-size: 16px;
}
